<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022459501790-65uvrbhum54bmsh9s2la8b406ilh82d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022459501790-65uvrbhum54bmsh9s2la8b406ilh82d1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1022459501790-6ks0stmdkt69lvi2ltfsb9trk8havel5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCixPLnK5t8qj-zy7gW9UOTtRaBD1iZwAY</string>
	<key>GCM_SENDER_ID</key>
	<string>1022459501790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hireecar</string>
	<key>PROJECT_ID</key>
	<string>hireacar-31fb2</string>
	<key>STORAGE_BUCKET</key>
	<string>hireacar-31fb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022459501790:ios:37bdd52d88c097f28e764f</string>
</dict>
</plist>