<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421313407099-giu29dfu1evm084knc25tfpg5359efet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421313407099-giu29dfu1evm084knc25tfpg5359efet</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>421313407099-9b9cep98e7n6qatuka3jbhl6ia8d93kf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7SDqyqYVkW6XyhFHe2-ueWhZjR4Ol1UM</string>
	<key>GCM_SENDER_ID</key>
	<string>421313407099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hireacar</string>
	<key>PROJECT_ID</key>
	<string>hireacar-5d299</string>
	<key>STORAGE_BUCKET</key>
	<string>hireacar-5d299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421313407099:ios:063589ca9189d9d65e9ade</string>
</dict>
</plist>